/* 通用 */
*{
  font-family: '微软雅黑'
}
body {
  margin: 0;
  background: url("../img/jilv-bg.jpg") #000000;
  background-size: cover;
}
i {
  cursor: pointer;
  display: inline-block;
}
i.pulldown {
  width: 10px;
  height: 10px;
  background: url('../img/down.png') no-repeat;
}
i.pullup {
  background: url('../img/up.png') no-repeat !important;
}
i.table {
  width: 31px;
  height: 30px;
  line-height: 34px;
  margin-top: 5px;
  background: url('../img/table.png') no-repeat;
}
i.chart {
  width: 25px;
  height: 30px;
  margin-top: 5px;
  background: url('../img/chart.png') no-repeat;
}
div.table-icon {
  width: 45px;
  height: 34px;
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
  border-radius: 5px;
  background: #fe7729;
}
div.chart-icon {
  width: 45px;
  height: 34px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  border-radius: 5px;
  background: #299cfe;
}

.hide {
  display: none;
}

/* nav */
.nav {
  height: 70px;
  min-width: 1250px;
  border: 1px solid;
  background-color: #505862;
}
.nav .left {
  width: 60px;
  height: 70px;
  text-align: center;
  cursor: pointer;
  float: left;
  background: url("../img/left.jpg");
}
.nav .left img{
  margin-top: 20px;
}
.nav .middle {
  float: left;
  font-size: 28px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 900;
  color: #d1d0d0;
  line-height: 70px;
}
.nav .nav-btn-groups {
  float: left;
  margin-top: 20px;
}
.nav .nav-btn-groups li {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #FFFFFF;
  background: url("../img/nav-btn-groups.jpg");
  list-style: none;
}
.nav .nav-btn-groups li + li {
  margin-left: 10px;
}
.nav .select .year-input {
  width: 90px;
  line-height: 32px;
  text-align: center;
  height: 32px;
  display: inline-block;
  background-color: #353a41;
  border-radius: 4px;
  color: #FFFFFF;
}
.nav .select .pull-down {
  cursor: pointer;
  width: 36px;
  text-align: center;
  line-height: 32px;
  height: 32px;
  position: relative;
  left: -4px;
  display: inline-block;
  border-radius: 3px;
  background: url("../img/nav-btn-groups.jpg");
}
.nav .select {
  position: relative;
  margin-top: 18px;
  width: 150px;
  float: right;
}
.nav .options {
  position: absolute;
  left: -38px;
  color: #FFFFFF;
  margin-top: 3px;
}
.nav .options li{
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 88px;
  list-style: none;
  background: #353a41;
}
.nav .options li + li{
  border-top: 1px solid #000000;
}
.font-origin {
  color: #fe7729;
}
.font-yellow {
  color: #fffb73;
}
.font-green {
  color: #acdd6d;
}
.font-red {
  color: #ff7173;
}
.text-center {
  text-align: center;
}
.clear {
  clear: both;
  display: block;
}

/* 通用表格 */
.table-app {
  width: 85%;
  margin: 0 auto;
  color: #FFFFFF;
  border-collapse: collapse;
  background: rgba(255,255,255,0.1);
}
.table-app td {
  height: 30px;
  text-align: center;
  border-style: solid;
  border-color: #5e5e5e;
  border-width: 1px;
}
.table-app tr:first-child td {
  height: 42px;
  border-top: none;
}
.table-app tr:last-child td {
  border-bottom: none;
}
.table-app td:first-child {
  border-left: none;
}
.table-app td:last-child {
  border-right: none;
}


/* 主体内容 */
.content {
  width: 90%;
  min-width: 1250px;
  margin: 0 auto;
  overflow: hidden;
  color: #FFFFFF;
}

.font-line {
  font-size: 22px;
  color: #fe7729;
  text-align: center;
}
.font-line::before, .font-line::after {
  border-top: 1px solid #d1d0d0;
  height: 1px;
  display: inline-block;
  width: 43%;
  content: '';
  position: relative;
  top: -5px;
}
.font-line::before {
  margin-right: 20px;
}
.font-line::after {
  margin-left: 20px;
}

/* 左右滑动 */
.slide-container {
  width: 100%;
  position: relative;
}
.slide-container .left {
  width: 5%;
  height: 72px;
  float: left;
  cursor: pointer;
  border: 1px solid red;
}
.slide-container .right {
  width: 5%;
  height: 72px;
  float: right;
  cursor: pointer;
  border: 1px solid red;
}
.slide-container .middle {
  width: 88%;
  height: 72px;
  float: left;
  overflow: hidden;
}
.slide-container .slide-content {
  height: 72px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  left: 0px;
}
.slide-container .slide-content span {
  cursor: pointer;
  display: inline-block;
  width: 154px;
  height: 72px;;
  margin-left: 25px;
  background-color: rgba(255, 255, 255, 0.1);
}
.slide-container .slide-content .slide-title {
  height: 28px;
  line-height: 28px;
  background-color: rgba(255, 255, 255, 0.2);
}
