*{
  font-family: '微软雅黑'
}
i.table {
  background: url('../img/table.png') no-repeat;
}
i.chart {
  background: url('../img/chart.png') no-repeat;
}

/* 通用表格 */
.table-app {
  width: 90%;
  margin: 0 auto;
  color: #FFFFFF;
  border-collapse: collapse;
  background: rgba(255,255,255,0.1);
  margin-top: 90px;
}
.table-app td {
  text-align: center;
  border-style: solid;
  border-color: #5e5e5e;
  border-width: 1px;
}
.table-app tr:first-child td {
  border-top: none;
}
.table-app tr:last-child td {
  border-bottom: none;
}
.table-app td:first-child {
  border-left: none;
}
.table-app td:last-child {
  border-right: none;
}
