body {
  background: url("../img/jilv-bg.jpg") #000000;
  background-size: cover;
}

div.content #county {
  position: inherit;
  padding-top: 97px;
}

div.content > div {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
  min-width: 1260px;
  color: #FFFFFF;
}
.div-left {
  width: 50%;
  float: left;
}
.div-right {
  float: right;
  width: 45%;
}
.div-left table {
  width: 100%;
}
.div-right table{
  width: 100%;
}
#jigong {
  margin-top: 97px;
}
.left-chart {
  width: 50%;
  float: left;
}
.right-chart {
  width: 50%;
  float: right;
}
.bar {
  height: 400px;
  width: 100%;
  line-height: 400px;
  text-align: center;
}
#jigong h3 {
  text-align: center;
}
#section {
  position: inherit;
  padding-top: 97px;
}
.average {
  font-size: 18px;
  border: 1px solid blue;
  position: absolute;
  top: 85px;
  right: 10px;
}
.average-value {
  margin-top: 5px;
  text-align: right;
}
.report-chart {
  width: 80%;
  text-align: center;
  margin-top: 97px;
  line-height: 500px;
  height: 500px;
}
#report {
  padding-top: 97px;
}
