body {
  background: url("../img/jilv-bg.jpg") #000000;
  background-size: cover;
}
.main {
  width: 1280px;
  margin: 0 auto;
  border: 1px solid;
}
.content {
  position: relative;
}
.pie-chart {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  /* 填充图表后可删除以下代码*/
  color: #FFFFFF;
  text-align: center;
  line-height: 400px;
  border: 1px solid red;
}
.bar-chart {
  height: 200px;
  width: 1000px;
  margin: 20px auto 0;
  /* 填充图表后可删除以下代码*/
  color: #FFFFFF;
  line-height: 200px;
  text-align: center;
  border: 1px solid red;
}
